<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.MarketMapper">

<select id="getList" resultType="org.zerock.domain.MarketVO">
    
    <![CDATA[
    
    SELECT 
    	mno mno,
    	mwriter mwriter,
    	mtitle mtitle,
    	mprice mprice,
    	mdetail mdetail,
    	mregdate mregdate,
    	maddress maddress,
    	mstate mstate
    
     FROM market
     
     WHERE mno > 0 ORDER BY mno DESC
     
    ]]>
    
  </select>
  
  <select id="getListWithPaging" resultType="org.zerock.domain.MarketVO">

    <![CDATA[
    
    SELECT 
    	mno mno,
    	mwriter mwriter,
    	mtitle mtitle,
    	mprice mprice,
    	mdetail mdetail,
    	mregdate mregdate,
    	maddress maddress,
    	mstate mstate
    	
     FROM market
     
     ORDER BY mno DESC
     
     LIMIT #{from}, #{amount}
     
    ]]>

  </select>

  <!-- resultType : 결과를 받을 타입 지정 -->
  <select id="getTotalCount" resultType="int"> 
  SELECT COUNT(*) FROM market
  </select>





	<!-- 개인회원  데이터 추가  -->
	<insert id="insert">
		INSERT INTO market
		(mwriter, mtitle, mprice, mdetail, maddress, mstate)
		VALUES
		(#{mwriter}, #{mtitle}, #{mprice}, #{mdetail}, #{maddress}, #{mstate})
	</insert>
	
	<!-- 왜 필요한가 알아보자 -->
	<insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="mno" keyColumn="mno">
		INSERT INTO market (mwriter, mtitle, mprice, mdetail, maddress, mstate)
		VALUES (#{mwriter}, #{mtitle}, #{mprice}, #{mdetail}, #{maddress}, #{mstate})
	</insert>
	
<!-- 
 	<insert id="insertWish">
		INSERT INTO wishlist
		(mwriter, mno)
		VALUES
		(#{mwriter}, #{mno})
	</insert>  -->

	<!--  상세페이지 정보 수정  -->
<!-- 	<update id="update">
	  UPDATE market
	  SET 
	      mtitle = #{mtitle},
	      mprice = #{mprice},
	      mdetail = #{mdetail},
	      maddress = #{maddress},
	      useradd = #{useradd},
	  WHERE
	      mwriter = #{mwriter}
   </update> -->

	<!-- 은비 상품 조회 페이지 작성 완료  -->
	  <select id="getdetail" resultMap="marketMap" >
		  SELECT 
			m.mno mno,
			m.mwriter mwriter ,
			m.mtitle mtitle,
			m.mprice mprice,
			m.mdetail mdetail,
			m.mregdate mregdate,
			m.maddress maddress,
			m.mstate mstate,
			mf.fileName fileName,
			ghu.userid userid
		  FROM 
		    market m LEFT JOIN market_file mf ON m.mno = mf.mno
		                  JOIN GH_User ghu ON m.mwriter = ghu.userid    
		  WHERE
		    m.mno = #{mno}

     </select>


	  <resultMap type="org.zerock.domain.MarketVO" id="marketMap">
	  	<id property="mno" column="mno" />
	  	<result property="mwriter" column="mwriter" />
	  	<result property="mtitle" column="mtitle" />
	  	<result property="mprice" column="mprice" />
	  	<result property="mdetail" column="mdetail" />
	  	<result property="mregdate" column="mregdate" />
	  	<result property="maddress" column="maddress" />
	  	<result property="mstate" column="mstate" />
	  	<collection property="fileName" resultMap="fileNameMap"></collection>
	  </resultMap>
	  
	  <resultMap type="string" id="fileNameMap">
	  	<result column="fileName" />
	  </resultMap>
	  
<!-- <resultMap type="org.zerock.domain.AuthVO" id="authMap">
	  	<result property="userid" column="userid" />
	  	<result property="auth" column="auth" />
	  </resultMap> -->
</mapper>