<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MessageMapper">
	
	<delete id="mesdelete">
		DELETE FROM GH_Message WHERE mno = #{mno}
	</delete>
	       
	<insert id="mesinsert"  useGeneratedKeys="true" >
		INSERT INTO GH_Message (writer, reader, content)
	  	VALUES (#{writer}, #{reader}, #{content})
	</insert>
	
	
	<select id="getListSend" resultType ="org.zerock.domain.MessageVO">
	  	SELECT * FROM GH_Message WHERE writer = #{writer} order by mno desc
	</select>
	  
	<select id="getListReceive" resultType ="org.zerock.domain.MessageVO">
	  	SELECT * FROM GH_Message WHERE reader = #{writer} order by mno desc
	</select>
	
	<select id="getSearchMessageList" resultType ="org.zerock.domain.MessageVO">
	  	SELECT mno,
	  	       writer,
	  	       reader,
	  	       content,
	  	       regdate
	  	  FROM GH_Message 
	  	 WHERE content LIKE CONCAT('%',#{content},'%') 
	  	 ORDER BY mno DESC
	</select>
	
	
</mapper>