<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.UserMapper">


	<!-- 데이터 추가  -->
	<insert id="insert">
		INSERT INTO GH_User
		(userid, userpw, username, userphone, userem)
		VALUES
		(#{userid}, #{userpw}, #{userName},#{userphone},#{userem})
	</insert>

	<insert id="insertAuth">
		INSERT INTO GH_auth
		(userid, auth)
		VALUES
		(#{userid}, #{auth})
	</insert>
	

	<!-- 데이터 읽어오기   -->
	  <select id="read" resultType="org.zerock.domain.UserVO" >
		  SELECT 
			m.userid userid,
			m.userpw userpw,
			m.username username,
			m.userphone userphone,
			m.userem userem,
			m.useradd useradd,
			m.enabled enabled,
			m.regdate regdate,
			m.updateDate updateDate,
			a.auth auth
		  FROM 
		    GH_User m LEFT JOIN GH_User_auth a ON m.userid = a.userid
		  WHERE
		    userid = #{userid}

     </select>
</mapper>